body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.languages {
  display: flex;
  justify-content: center;
}

.languages li {
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
}

.nav {
  display: flex
}

.active {
  font-weight: bold;
}

.nav li {
  margin-right: 20px;
}

a {
  text-decoration: none;
}